@page "/auth/register"

<h2>Register</h2>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">
        @Message
    </div>
}
<div>
    <EditForm Model="@Model" OnValidSubmit="SubmitRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>First name:</label>
        <InputText @bind-Value="@Model.FirstName" class="form-control"></InputText>
        <label>Last name:</label>
        <InputText @bind-Value="@Model.LastName" class="form-control"></InputText>
        <label>Email:</label>
        <InputText @bind-Value="@Model.Email" class="form-control"></InputText>
        <label>Password:</label>
        <InputText @bind-Value="@Model.Password" class="form-control"></InputText>

        <button class="btn btn-primary" type="submit">Register</button>
    </EditForm>
</div>