@page "/issue/edit/{id:int}"
@attribute [Authorize(Roles = "Admin")]

    <div class="bg-violet">
        <div class="d-flex justify-content-center vh-100">
            <div class="flex-column w-50">
                <h3 class="mt-3">Edit issue no.: @IssueModel.Id</h3>
                <EditForm FormName="CreateIssue" Model="@IssueModel" OnValidSubmit="Update">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label for="summary">Summary:</label>
                        <InputTextArea class="form-control" id="summary" @bind-Value="IssueModel.Summary"></InputTextArea>
                        <label for="description">Description:</label>
                        <InputTextArea class="form-control" id="description" @bind-Value="IssueModel.Description"></InputTextArea>
                        <label for="type">Type:</label>
                        <InputSelect class="form-control" id="type" @bind-Value="IssueModel.IssueType.Id" DisplayName="Type">
                            <option>--Please select type--</option>
                            @foreach (var issueType in IssueTypes)
                            {
                                <option value="@issueType.Id">@issueType.Name</option>
                            }
                        </InputSelect>
                        <label for="priority">Priority:</label>
                        <InputSelect class="form-control" id="priority" @bind-Value="IssueModel.IssuePriority.Id" DisplayName="Priority">
                            <option>--Please select priority--</option>
                            @foreach (var issuePriority in IssuePriorities)
                            {
                                <option value="@issuePriority.Id">@issuePriority.Name</option>
                            }
                        </InputSelect>
                        <label for="state">State:</label>
                        <InputSelect class="form-control" id="state" @bind-Value="IssueModel.IssueStatus.Id" DisplayName="State">
                            <option>--Please select state--</option>
                            @foreach (var issueStatus in IssueStatuses)
                            {
                                <option value="@issueStatus.Id">@issueStatus.Name</option>
                            }
                        </InputSelect>
                        <label for="reporter">Reporter ID:</label>
                        <InputSelect class="form-control" id="reporter" @bind-Value="IssueModel.ReporterId">
                            <option value="" disabled>--Please select reporter--</option>
                            @foreach (var user in UsersList)
                            {
                                <option value="@user.Id">@user.LastName @user.FirstName</option>
                            }
                        </InputSelect>
                        <label for="assignee">Assignee ID:</label>
                        <InputSelect class="form-control" id="assignee" @bind-Value="IssueModel.AssigneeId">
                            <option value="" disabled>--Please select assignee--</option>
                            @if (IssueModel.AssigneeId == null)
                            {
                                <option>Unassigned</option>
                            }
                            @foreach (var user in UsersList)
                            {
                                <option value="@user.Id">@user.LastName @user.FirstName @user.Id</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="m-2">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
