@page "/issue"
@attribute [Authorize]

<div>
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Summary</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Priority</th>
                <th scope="col">Reporter</th>
                <th scope="col">Assignee</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Issues)
            {
                <tr>
                    <td>@issue.Id</td>
                    <td>@issue.Summary</td>
                    <td>@issue.IssueType.Name</td>
                    <td>@issue.IssueStatus.Name</td>
                    <td>@issue.IssuePriority.Name</td>
                    <td>@issue.ReporterId</td>
                    <td>@issue.AssigneeId</td>
                    <td><a href="/issue/@issue.Id"class="btn btn-info">Details</a></td>
                    <AuthorizeView Roles="Admin">
                        <td><a href="/issue/edit/@issue.Id" class="btn btn-primary">Edit</a></td>
                        <td><a href="/issue/delete/@issue.Id" class="btn btn-danger">Delete</a></td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
</div>
