@using Microsoft.AspNetCore.Components.QuickGrid

@page "/issue"
@attribute [Authorize]

    <div class="bg-violet">
        <QuickGrid Items="@Issues" Class="table table-striped table-hover align-middle">
            <PropertyColumn Title="ID" Property="@(issue => issue.Id)" Sortable="true" />
            <PropertyColumn Title="Summary" Property="@(issue => issue.Summary)" Sortable="true" />
            <PropertyColumn Title="Type" Property="@(issue => issue.IssueType.Name)" Sortable="true" />
            <PropertyColumn Title="Status" Property="@(issue => issue.IssueStatus.Name)" Sortable="true" />
            <PropertyColumn Title="Priority" Property="@(issue => issue.IssuePriority.Name)" Sortable="true" />
            <PropertyColumn Title="Reporter ID" Property="@(issue => issue.ReporterId)" Sortable="true" />
            <PropertyColumn Title="Assignee ID" Property="@(issue => issue.AssigneeId)" Sortable="true" />
            <TemplateColumn Title="Details" Context="issueContext">
                <a href="/issue/@issueContext.Id" class="btn btn-success">Details</a>
            </TemplateColumn>


            <TemplateColumn Title="Edit" Context="issueContext">
                <AuthorizeView Roles="Admin">
                    <a href="/issue/edit/@issueContext.Id" class="btn btn-primary">Edit</a>
                </AuthorizeView>
            </TemplateColumn>
            <TemplateColumn Title="Delete" Context="issueContext">
                <a href="/issue/delete/@issueContext.Id" class="btn btn-danger">Delete</a>
            </TemplateColumn>

        </QuickGrid>
    </div>